<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/singin.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <style>
        .aumentar:hover{
            font-size: 15px;
            font-weight: bold;
        }

    </style>
</head>
<body>

<div class="container" ng-app="loginApp">

  <form class="form-signin" ng-submit="login()" ng-controller="LoginController">
    <h2 class="form-signin-heading">Ingrese...</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" ng-model="user.email">
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="user.password">
    <div class="checkbox">
      <label class="aumentar">
        <i class="fa fa-user-plus" aria-hidden="true"></i> <a href="/singup.html">Registrate!!</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

</div>


  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/scripts/controllers/loginController.js"></script>

</body>
</html>
