<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
</head>
<body ng-app="app" >
  {{title}}

  <div ng-view></div>


  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="/bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>

  <!--APP-->
  <script src="/app.js"></script>
  <!--Controllers-->
  <script src="/scripts/controllers/administration/groups/addGroupController.js"></script>
  <script src="/scripts/controllers/administration/groups/updateGroupController.js"></script>
  <script src="/scripts/controllers/administration/groups/showGroupsController.js"></script>
  <script src="/scripts/directives/groupDirectivesModule.js"></script>
  <script src="/scripts/directives/crossDirectivesModule.js"></script>

  <!--Captura todos los errores de validacion y error generados por al invocar un servicio
  y los muestra con un formato dependiendo del tipo-->
  <dc-global-message />
</body>
</html>
