<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


  <div class="media-list-container">

      <form ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="filterName" placeholder="Tipea para filtrar <enter> para buscar -->">
          <span class="input-group-addon">Buscar</span>
          <button type="submit" ng-hide="true">just i need a submit</button>
        </div>
      </form>

    <h1>Personajes</h1>
    <div class="row">
      <i class="media col-md-2 text-center" ng-repeat="character in characters | filter: {name:filterName}"  ng-model="character"  data-drag="true" data-jqyoui-options="{revert: 'invalid',helper: 'clone'}"  jqyoui-draggable="{animate:true}" >
            <div class="form-group" ng-drag="true"  >
              <img  ng-src="{{character.thumbnail.path+'.'+character.thumbnail.extension}}" alt="..." class="img-circle">
            </div>
            <div class="help-block texto">
              <strong> {{character.name}}</strong>
            </div>
      </i>
      <div class="media  col-md-1 text-center vcenter" ng-hide="characters.length == undefined || !hasMoreElements">
        <i class="button fa fa-search-plus" aria-hidden="true" style="font-size: 100px" ng-click="moreResults()"></i>
      </div>
     </div>
      <br>
     <button type="button" class="btn btn-primary btn-lg center-block" ng-click="createNewGroup()" ng-show="group===undefined"><i class="fa fa-plus fa-lg"> </i> Agregar grupo</button>
    <button type="button" class="btn btn-danger btn-lg center-block" ng-click="removeNewGroup()" ng-hide="group===undefined"><i class="fa fa-minus fa-lg"> </i> Cancelar</button>

  </div>
  <br>
    <div class="groups-container">
      <!-- CREACION DE GRUPO -->
      <dc-group  at-group-obj="group" at-save-group-function="saveGroup"  ng-hide="group===undefined" at-delete-group-function="removeNewGroup"></dc-group>
      <!--MIS GRUPOS -->
      <dc-group ng-repeat="myGroup in myGroups" at-group-obj="myGroup" at-save-group-function="updateGroup" at-delete-group-function="removeGroup"></dc-group>




</body>
</html>
