<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body ng-app="testApp" ng-controller="testController">
  <ul>
    <li><label for="">API-KEY</label><input type="text" id="data1" ng-model="data.apikey"></li>
    <li><label for="">HASH</label><input type="text" id="data2" ng-model="data.hash"></li>
    <li><label for="">URL</label><input type="text" id="data3" ng-model="url"></li>
    <li>
      <button ng-click="callUrl()">CALL</button>
    </li>
    <div ng-repeat="character in response.data.results">
      <img ng-src="{{character.thumbnail.path+'.'+character.thumbnail.extension}}"/>
      <ul>
        <li>{{character.id}}</li>
        <li>{{character.name}}</li>
      </ul>
    </div>

  </ul>

  <!--https://developer.marvel.com/documentation/authorization-->
  <!--https://developer.marvel.com/docs#!/public/getCreatorCollection_get_0-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/js-md5/build/md5.min.js"></script>
  <script>
    angular.module('testApp', [])
      .controller('testController', function($scope,$http,$window) {
        $scope.data={};
        $scope.data.apikey='c5d5ec29fba2de343f8b6b3bf4a8c080';
        var privatekey='d9967a638cce0bdbec37a995cab3f2a9f33b7696';
        $scope.data.ts=Date.now();
        $scope.data.hash=md5($scope.data.ts+privatekey+$scope.data.apikey);

        $scope.callUrl=function(){
          $http.get('http://gateway.marvel.com'+$scope.url, {params:$scope.data}).then(function(value){
            $scope.response=value.data;
            console.log('exito');
          }, function(err){
            console.log('error: '+err);
          })
        }
      });
  </script>
</body>
</html>
